$primary-color: #0075ff;
$secondary-color: #003c80;
$dark-color: #001e40;
$heading-color: #e6e6e6;
$text-color: #bfbfbf;
$background-color: #001329;

$font-family: 'Mona Sans', sans-serif;
$font-family-mono: 'Consolas', monospace;

$colors: (
  'primary': $primary-color,
  'secondary': $secondary-color,
  'success': #28a745,
  'info': #17a2b8,
  'warning': #ffc107,
  'danger': #dc3545,
  'light': #f8f9fa,
  'dark': #343a40,
);
